{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partial/head.html' %}
        {% block title_section %}
            {% comment %}
                <!-- HERE YOU CAN PUT YOU CSS STYLE LINK OR YOUR NEW TITLE OR META TAGS OR ANY SPECIAL DATA YOU WANT TO ADD TO YOUR SPECIFIC PAG -->
            {% endcomment %}
            <title>Jewelry Galley</title>
        {% endblock %}
    </head>
    <body>
        <!-- HEADER SECTION → ICLUDE MENU , LOGO , SEARCH-INPUT AND USER CART AND ... -->
        <header class="header-container">
            <div class="header-container--elemets">
                <!-- SLICE HEADER TO TWO SECTION → TOP AND BOTTOM CONTAINER -->
                <div class="top-header-container">
                    <!-- TOP CONTAINER INCLUDE LOGO , CART AND PROFILE ICON , SEARCH-INPUT AND MOBILE MENU -->
                    <div class="column-4 search-container">
                        <div class="top-header-search search-container-input">
                            <input type="text" placeholder="Search..." autocomplete="off" name="search" id="search">
                            <div class="button-container">
                                <button type="submit" id="search-btn">
                                    <i class="bi bi-search search-icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="contact-icons">
                            <div class="contact-method">
                                <a href="tel:06589655" target="_blank" data-label="Phone" rel="noopener noreferrer nofollow" aria-label="Call us">
                                    <i class="bi bi-phone"></i>
                                </a>
                            </div>
                            <div class="contact-method">
                                <a href="mailto:ijavaddddd@gmail.com" data-label="E-mail" rel="nofollow" aria-label="Email us">
                                    <i class="bi bi-envelope-fill"></i>
                                </a>
                            </div>
                        </div>
                        <!-- MOBILE BASKET -->
                        <div class="mobile-cart">
                            <a href="#" target="_blank">
                                <i class="bi bi-cart3"></i>
                                <div class="cart-counter">
                                    <span>0</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="column-4 logo-container">
                        <!-- CENTER LOGO -->
                        <img src="{{media}}images/logo/header-logo.png" alt="MY title">
                    </div>
                    <div class="column-4 profile-cart-container">
                        <!-- USER PROFILE ICON AND BASKET -->
                        <div class="profile-container">
                            <ul class="profile-container--list">
                                <li class="profile-container--item user-cart">
                                    <a href="#">
                                        <i class="bi bi-basket-fill"></i>
                                        <div class="cart-counter">
                                            <span>0</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="profile-container--item profile-icon">
                                    <i class="bi bi-person-fill" onclick="open_login_form()"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="responsive-menu-container">
                            <!-- RESPONSIVE MENU TOGGLE BUTTON -->
                            <div class="responsive-menu">
                                <div class="toggle-menu-container">
                                    <a href="#" class="toggle-icon" id="responsive-btn" onclick="responsive_menu()">
                                        <i class="bi bi-list"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DESKTOP MENU -->
                <div class="bottom-header-container">
                    <div class="menu-container">
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Store</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Man</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Woman</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Contact us</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">About us</a>
                            </li>
                        </ul>
                    </div>
                    <!-- MOBILE RESPONSIVE MENU -->
                    <div class="responsive-menu-list" id="responsive-menu-item-container">
                        <div class="responsive-search-conrainer">
                            <div class="search-container-input">
                                <input type="text" placeholder="Search..." autocomplete="off" name="search" class="responsive-search" id="search">
                                <div class="button-container">
                                    <button type="submit" id="search-btn">
                                        <i class="bi bi-search search-icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="reponsive-menu--item">
                            Home
                        </a>
                        <a href="#" class="reponsive-menu--item">
                            Store
                        </a>
                        <a href="#" class="reponsive-menu--item">
                            Man
                        </a>
                        <a href="#" class="reponsive-menu--item">
                            Woman
                        </a>
                        <a href="#" class="reponsive-menu--item">
                            Contact us
                        </a>
                        <a href="#" class="reponsive-menu--item">
                            About us
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- LOGIN REGISTER FORM -->
        <div class="login-register-container" id="login-register-container">
            <div class="login-register-ceneter-container">
                <div class="close-container" onclick="close_login_form()">
                    <i class="bi bi-x"></i>
                </div>
                <div class="login-continer">
                    <h3 class="form-title">Login</h3>
                    <form action="#" class="login-form">
                        <input class="form-input" type="text" name="phone-number" placeholder="Enter phone number or email address">
                        <input class="form-input" type="password" name="password" placeholder="Password">
                        <div class="checkbox-container">
                            <label class=chekbox-label>
                            <input type="checkbox" name="remember-me" id="remember-me" value="forever">
                                <span>Remember me</span>
                            </label><br/>
                            <input type="button" value="Login" class="form-button login-button">
                        </div>
                    </form>
                </div>
                <div class="register-continer">
                    <h3 class="form-title">Register</h3>
                    <form action="#" class="register-form">
                        <input class="form-input" type="text" name="first-name" placeholder="First Name">
                        <input class="form-input" type="text" name="last-name" placeholder="Last Name">
                        <input class="form-input" type="text" name="phone-number" placeholder="Enter phone number or email address">
                        <input class="form-input" type="password" name="password" placeholder="Password">
                        <div class="checkbox-container">
                            <label class=chekbox-label>
                                <input type="checkbox" name="accept" id="remember-me" value="accept">
                                <span>Accept term of service</span>
                            </label><br/><br/>
                            <label class=chekbox-label>
                                <input type="checkbox" name="news" id="news" value="emailme">
                                <span>Email me...</span>
                            </label><br/>
                            <input type="button" value="Register" class="form-button login-button">
                        </div>
                    </form>
                </div>
            </div>
        </div>




        <footer class="footer-container">
            <div class="footer-center-container">
                <div class="footer-section column-4">
                    <div class="footer-section--title-container">
                        <h3 class="footer-section--title">
                            Customer guide
                        </h3>
                        <div class="border-botttom"></div>
                    </div>
                    <div class="footer-section--question-list">
                        <ul class="footer-menu-list question-list">
                            <li class="footer-menu-list--item question-item">
                                <a href="#">Frequently Asked Questions</a>
                            </li>
                            <li class="footer-menu-list--item question-item">
                                <a href="#">Product replacement and return procedure</a>
                            </li>
                            <li class="footer-menu-list--item question-item">
                                <a href="#">Delivery and payment terms</a>
                            </li>
                            <li class="footer-menu-list--item question-item">
                                <a href="#">Payment methods</a>
                            </li>
                            <li class="footer-menu-list--item footer-menu-list--last-item question-item">
                                <a href="#">Ring sizing guide</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-section column-4">
                    <div class="footer-section--title-container">
                        <h3 class="footer-section--title">
                            Jewelry gallery
                        </h3>
                        <div class="border-botttom"></div>
                    </div>
                    <div class="footer-section--contact-menu">
                        <ul class="footer-menu-list">
                            <li class="footer-menu-list--item">
                                <a href="#">Contact us</a>
                            </li>
                            <li class="footer-menu-list--item footer-menu-list--last-item">
                                <a href="#">About us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-section column-4">
                    <div class="footer-section--title-container">
                        <h3 class="footer-section--title">
                            Licences
                        </h3>
                        <div class="border-botttom"></div>
                        <div class="licences-container">
                            <img src="{{media}}images/licence/samandehi-logo.png" alt="samandehi">
                            <img src="{{media}}images/licence/enamad-logo.png" alt="enamad">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-section--bottom">
                <p>© All rights reserved for ijavadddd</p>
                <p>Design and implementation: <a href="https://github.com/ijavadddd" target="_blank">ijavadddd</a></p>
            </div>
        </footer>
    </body>
    {% include 'partial/script.html' %}
</html>