{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partial/head.html' %}
        {% block title_section %}
            {% comment %}
                <!-- HERE YOU CAN PUT YOU CSS STYLE LINK OR YOUR NEW TITLE OR META TAGS OR ANY SPECIAL DATA YOU WANT TO ADD TO YOUR SPECIFIC PAG -->
            {% endcomment %}
            <title>Jewelry Galley</title>
        {% endblock %}
    </head>
    <body>
        {% include 'partial/header.html' %}

        <div class="body-container">
            {% block main_content %}{% endblock %}
        </div>
        
        {% include 'partial/footer.html' %}
    </body>
    {% include 'partial/script.html' %}
    {% block js_blocks %}
    {% endblock %}
</html> 