{% extends 'base_index.html' %}
{% load static %}
{% block title_section %}
            <link rel="stylesheet" href="{% static 'css/commerce/commerce.css' %}">
            <title>Jewelry Galley</title>
{% endblock %}
{% block main_content %}
    <div class="container">
        <div class="sidebar-container">
            <div class="sidebar-category">
                <div class="sidebar-category--title-container">
                    <p>Category</p>
                    <div class="border-botttom"></div>
                </div>

            </div>
        </div>
        <div class="main-container">
            {% for product in products %}
            <div class="product-box">
                <div class="product-box--image-container">
                    <img src="{{media}}{{product.Image}}" alt="earrings">
                </div>
                <div class="product-box--title-container">
                    <a href="#">
                        <h2>
                            {{product.Title}}
                        </h2>
                    </a>
                </div>
                <div class="product-box--category">
                    {% comment %}
                    {% for category in product.Category %}
                    <strong>{{Category}}</strong>
                    {% endfor %}
                    {% endcomment %}
                </div>
                <div class="product-box--details">
                    <div class="old-price-container">
                        <div class="old-price">
                            <span>{{product.Price}}</span>$
                        </div>
                        <div class="discount">
                            <div>
                                <span>{{product.Discount}}</span>%
                            </div>
                        </div>
                    </div>
                    <div class="new-price">
                        <span class="new-price">{{product.NewPrice}}</span>$
                    </div>
                </div>
                <div class="add_to_list">
                    <i class="bi bi-cart-plus"></i>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}