{% extends 'base_index.html' %}
{% load static %}
{% block title_section %}
            <link rel="stylesheet" href="{% static 'css/commerce/commerce.css' %}">
            <title>Jewelry Galley</title>
{% endblock %}
{% block main_content %}
    <div class="container">
        <!-- <div class="sidebar-container"></div> -->
        <div class="main-container">

            <div class="product-box">
                <div class="product-box--image-container">
                    <img src="{{media}}images/products/earring.jpg" alt="earrings">
                </div>
                <div class="product-box--title-container">
                    <a href="#">
                        <h2>
                            Men / Women Dragon Earrings (Clips)
                        </h2>
                    </a>
                </div>
                <div class="product-box--category">
                    <strong>Gentlemen, earrings</strong>
                </div>
                <div class="product-box--details">
                    <div class="old-price-container">
                        <div class="old-price">
                            <span>5$</span>
                        </div>
                        <div class="discount">
                            <div>
                                <span>5</span>%
                            </div>
                        </div>
                    </div>
                    <div class="new-price">
                        <span class="new-price">0.25</span>%
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-box--image-container">
                    <img src="{{media}}images/products/earring.jpg" alt="earrings">
                </div>
                <div class="product-box--title-container">
                    <a href="#">
                        <h2>
                            Men / Women Dragon Earrings (Clips)
                        </h2>
                    </a>
                </div>
                <div class="product-box--category">
                    <strong>Gentlemen, earrings</strong>
                </div>
                <div class="product-box--details">
                    <div class="old-price-container">
                        <div class="old-price">
                            <span>5$</span>
                        </div>
                        <div class="discount">
                            <div>
                                <span>5</span>%
                            </div>
                        </div>
                    </div>
                    <div class="new-price">
                        <span class="new-price">0.25</span>%
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-box--image-container">
                    <img src="{{media}}images/products/earring.jpg" alt="earrings">
                </div>
                <div class="product-box--title-container">
                    <a href="#">
                        <h2>
                            Men / Women Dragon Earrings (Clips)
                        </h2>
                    </a>
                </div>
                <div class="product-box--category">
                    <strong>Gentlemen, earrings</strong>
                </div>
                <div class="product-box--details">
                    <div class="old-price-container">
                        <div class="old-price">
                            <span>5$</span>
                        </div>
                        <div class="discount">
                            <div>
                                <span>5</span>%
                            </div>
                        </div>
                    </div>
                    <div class="new-price">
                        <span class="new-price">0.25</span>%
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-box--image-container">
                    <img src="{{media}}images/products/earring.jpg" alt="earrings">
                </div>
                <div class="product-box--title-container">
                    <a href="#">
                        <h2>
                            Men / Women Dragon Earrings (Clips)
                        </h2>
                    </a>
                </div>
                <div class="product-box--category">
                    <strong>Gentlemen, earrings</strong>
                </div>
                <div class="product-box--details">
                    <div class="old-price-container">
                        <div class="old-price">
                            <span>5$</span>
                        </div>
                        <div class="discount">
                            <div>
                                <span>5</span>%
                            </div>
                        </div>
                    </div>
                    <div class="new-price">
                        <span class="new-price">0.25</span>%
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-box--image-container">
                    <img src="{{media}}images/products/earring.jpg" alt="earrings">
                </div>
                <div class="product-box--title-container">
                    <a href="#">
                        <h2>
                            Men / Women Dragon Earrings (Clips)
                        </h2>
                    </a>
                </div>
                <div class="product-box--category">
                    <strong>Gentlemen, earrings</strong>
                </div>
                <div class="product-box--details">
                    <div class="old-price-container">
                        <div class="old-price">
                            <span>5$</span>
                        </div>
                        <div class="discount">
                            <div>
                                <span>5</span>%
                            </div>
                        </div>
                    </div>
                    <div class="new-price">
                        <span class="new-price">0.25</span>%
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-box--image-container">
                    <img src="{{media}}images/products/earring.jpg" alt="earrings">
                </div>
                <div class="product-box--title-container">
                    <a href="#">
                        <h2>
                            Men / Women Dragon Earrings (Clips)
                        </h2>
                    </a>
                </div>
                <div class="product-box--category">
                    <strong>Gentlemen, earrings</strong>
                </div>
                <div class="product-box--details">
                    <div class="old-price-container">
                        <div class="old-price">
                            <span>5$</span>
                        </div>
                        <div class="discount">
                            <div>
                                <span>5</span>%
                            </div>
                        </div>
                    </div>
                    <div class="new-price">
                        <span class="new-price">0.25</span>%
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}