{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- HEAD PARTIAL -->
    {% include "partials/head.html" %}
    {% block head_meta %}{% endblock %}
    {% block head_title %}
        <title>Relief workers</title>
    {% endblock %}
    </head>
    <body>

        <!-- HEADER PARTIAL -->
        {% include "partials/header.html" %}

        <!-- TEMPLATE BODY CONTENT -->
        {% block main %}{% endblock %}

        <!-- FOOTER PARTIAL -->
        {% include "partials/footer.html" %}

    </body>
    {% block script %}{% endblock %}

    <!-- SCRIPT PARTIAL -->
    {% include "partials/script.html" %}
</html>