{% extends "user_profile/user_profile_base_index.html" %}
{% load static %}

{% block second-head_title %}
    <link rel="stylesheet" href="{% static 'css/user_profile/complaint.css' %}">
    <title>Submit Discount</title>
{% endblock %}

{% block menu_content_container %}
    <div class="content-container">
        <div class="complaint-container">
            <p>
                Tell us what happened. We are working to improve our service to you.
            </p>
            <input type="text" placeholder="Enter the Subject" name="subject" id="complaint">
            <textarea name="describe-complaint" id="describe-complaint" placeholder="describe what happend , how we can get you service better"></textarea>
            <input type="submit" value="Submit" id="complaint-button">
        </div>
    </div>
{% endblock %}




{% block script %}

{% endblock %}