{% extends "user_profile/user_profile_base_index.html" %}
{% load static %}

{% block second-head-title %}
    <link rel="stylesheet" href="{% static 'css/user_profile/discount.css' %}">
    <title>Submit Discount</title>
{% endblock %}

{% block menu_content_container %}
    <div class="content-container">
        <h1>
            Sham Tara mean safe road safe trip
        </h1>
        <div class="discount-container">
            <p>
                Submit your code ,your account will be charged.
            </p>
            <input type="text" placeholder="Enter the Code" name="discount-code" id="discount-code">
            <input type="submit" value="Submit" id="discount-button">
        </div>
    </div>
{% endblock %}




{% block script %}

{% endblock %}