{% extends "user_profile/user_profile_base_index.html" %}
{% load static %}

{% block second-head-title %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <title>Profile</title>
{% endblock %}

{% block menu_content_container %}
    <div class="warning-message">
        <p>
            To access the Car Rescue Request section, please complete your profile,<a href="#">click here for complete your profile.</a>.
        </p>
    </div>
    <div class="profile-container">
        <div class="profile--image">
            <img src="{{media}}images/unknown_user_profile.png" alt="">
            <div class="add-profile-photo">
                <a href="#">
                    <img src="https://img.icons8.com/doodle/48/000000/add.png"/>
                </a>
            </div>
        </div>
        <div class="profile--information">
            <div class="personal-info">
                <div class="profile-info-lable profile--information__first-name">
                    <p>
                        First name : <span>Javad</span>
                    </p>
                </div>
                <div class="profile-info-lable profile--information__last-name">
                    <p>
                        Last name : <span>Ghasemi</span>
                    </p>
                </div>
            </div>
            <div class="vehicle-info">
                <div class="profile-info-lable profile--information__vehicle">
                    <p>
                        vehicle Brand : <span>----</span>
                    </p>
                </div>
                <div class="profile-info-lable profile--information__vehicle-model">
                    <p>
                        vehicle Model : <span>----</span>
                    </p>
                </div>
                <div class="profile-info-lable profile--information__vehicle-plaque">
                    <p>
                        vehicle plaque: <span>----</span>
                    </p>
                </div>
                <div class="profile-info-lable profile--information__vehicle-color">
                    <p>
                        vehicle color : <span>----</span>
                    </p>
                </div>
            </div>
            <a href="#" class="profile-button" title="Edit profile">Complete profile</a>
        </div>
        <!-- PROFILE INFORMATION DIVIDER -->
        <hr class="profile-container--divider">
    </div>
    <!-- Profile detail Box Container such:Records,.. -->
    <div class="profile-options">
        <!-- PROFILE DETAIL BOX  -->
        <div class="profile-options--item">
            <div class="profile-options--item__title">
                <h3>
                    Request History
                </h3>
            </div>
            <div class="profile-options--item__description">
                <p>
                    No record found ,<a href="{% url 'car_rescuer' %}">Click for first experience.</a>
                </p>
            </div>
        </div>

        <div class="profile-options--item">
            <div class="profile-options--item__title">
                <h3>
                    Tickets
                </h3>
            </div>
            <div class="profile-options--item__description">
                <p>
                    You can submit your criticisms, complaints or requests through this section ,<a href="{% url 'complaint' %}">Go to Ticket page.</a>
                </p>
            </div>
        </div>
        
        <div class="profile-options--item">
            <div class="profile-options--item__title">
                <h3>
                    Charge
                </h3>
            </div>
            <div class="profile-options--item__description">
                <p>
                    You have : <span>10000000</span>
                </p>
                <p>
                    charge your account ,<a href="{% url 'credit' %}">Go chargee.</a>
                </p>
            </div>
        </div>
        
        <div class="profile-options--item">
            <div class="profile-options--item__title">
                <h3>
                    Need help?!
                </h3>
            </div>
            <div class="profile-options--item__description">
                <p>
                    You can read Q&A ,most of question answered and if you can't find your answere you can submit your question ,<a href="#">Go to Q&A.</a>
                </p>
            </div>
        </div>

        <div class="profile-options--item">
            <div class="profile-options--item__title">
                <h3>
                    Rate us
                </h3>
            </div>
            <div class="profile-options--item__description">
                <p>
                    Improve our quality with your feedback, we respect your feedback and will work to improve service and quality,<a href="#">Rate us.</a>
                </p>
            </div>
        </div>

    </div>
</div>
{% endblock %}
