.teacher-introduce{
    margin:50px auto;
    padding:20px;
    box-sizing:border-box;
    width:100%;
    min-height:600px;
    /* background-color: red; */
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
}
.teachers-title{
    font-size: 40px;
    font-family: 'iran-sans';
    font-weight: 600;
    margin: 50px 50px 0 0;
}
.title-undeline{
    margin: 15px 42px 0 0;
    width: 205px;
    border: none;
    border-radius: 85px;
    height: 4px;
    background-color: #212121;
}
.teacher-box{
    width:25%;
    height:510px;
    background-color:#fff;
    /* overflow: hidden; */
    border-radius: 5px;
    position:relative;
    margin:5px 15px 20px 15px;
    box-shadow: 0px 1px 4px #a2a2a2;
}
.teacher-box--red{
    border-top:4px solid red;
}
.teacher-box--blue{
    border-top:4px solid blue;
}
.teacher-box--green{
    border-top:4px solid green;
}
.person-icon{
    max-width: 75%;
    height: auto;
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
    margin: 10px auto; 
}
.person-icon img{
    width:100%;
}
.box-description{
    width:100%;
    /* max-height:150px; */
    padding:20px;
    box-sizing:border-box;
    background-color:inherit;
    overflow:hidden;
    text-overflow: ellipsis;
}
.description-items{
    font-family:"iran-sans";
    font-size:13px;
    margin:5px auto 5px auto;
    text-overflow:ellipsis;
}
.description-items strong{
    font-weight:lighter;
    font-size:12px;
    color:#818181;
}
.description-divider{
    border:none;
    background-color:rgb(173, 173, 173);
    width:85%;
    height:0.5px;
    margin:15px auto 5px auto;
}
.skill-icon{
    display: flex;
    justify-content: start;
    align-items:center;
    padding:15px;
    box-sizing:border-box;
    margin-bottom: 40px;
}
.skill-icon svg{
    margin-right:5px;
}
.box-button{
    width:50%;
    height: 60px;
    margin: 0 auto;
    background-color: yellow;
    border-radius: 0 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    transition:0.3s;
    transition-timing-function: ease-in-out;
    text-decoration:none;
    font-size:15px;
    font-weight:800;
    color:#000;
}
.box-button:hover{
    transition:0.8s;
    transition-delay: 0.3s;
    background-color:#3f7fea;
    width:100%;
    border-radius:0;
}
@media screen and (max-width:800px){
    .center-container{
        width:100%;
    }
    .teacher-box{
        width: 90%;
        height: auto;
    }
    .person-icon {
        max-width: 50%;
    }
}
@media screen and (min-width:800px){
    .center-container{
        width:95%;
    }
    .teacher-box{
        width: 45%;
        height: auto;
    }
    .person-icon {
        max-width: 60%;
    }
}
@media screen and (min-width:1200px){
    .center-container{
        width:95%;
    }
    .teacher-box{
        width: 30%;
        
    }
    .person-icon {
        max-width: 60%;
    }
}
