.container{
    width:100%;
    min-height:500px;
    background-color:rgb(242 242 242 / 79%);
}
.center-container{
    width:100%;
    max-width:min(700px,90%);
    min-height:500px;
    margin:0 auto;
    /* background-color:rgb(228, 228, 228); */
    box-sizing: border-box;
    padding:20px;
}
.contact-us-conatiner> h3{
    font-size: 3rem;
    font-weight: 900;
    margin:10px;
}
.contact-us-form{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}
#description-subject , #description{
    outline:none;
    border:none;
    border-radius:5px;
    width:max(60%,20ch);
    padding:12px 30px;
    box-sizing:border-box;
    /* margin:10px; */
}
#description{
    border-radius:5px;
    min-height: 120px;
    width:95%;
}
#submit-button{
    transition:0.5s;
    outline:none;
    border: none;
    border-radius:3px;
    padding:20px 40px;
    background-color:rgb(30, 105, 190);
    color:#fff;
    font-size: 1.7rem;
    font-weight: 600;
    width:18ch;
    flex:0 0 60px;
    letter-spacing:1.2px;
    cursor:pointer;
}
#submit-button:hover{
    background-color:#09c26d;
}
.offline-contact-us-container{
    margin:50px 0;
}
.offline-contact-us-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    gap:20px;
}
.mobile-number-container p:nth-child(1){
    font-size:3rem;
    font-family:'Archivo-Narrow';
    font-weight: 800;
}
.mobile-number{
    margin:10px 50px;
    font-size:1.8rem;
    font-weight: 600;
    line-height:2.6rem;

}
.social-media{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}