* {
    padding: 0;
    margin: 0;
    direction: ltr;
}
html{
    font-size:10px;
}
body{
    font-size:1.6rem;
}
a{
    text-decoration: none;
}
@font-face {
    font-family:'Archivo-Narrow';
    src: url('../fonts/ArchivoNarrow/ArchivoNarrow-Regular.ttf') format('truetype');
}
@font-face {
    font-family:'Josefin-Sans';
    src: url('../fonts/JosefinSans/JosefinSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}
.menu-container{
    width:100%;
    min-height:85px;
    background-color:#f8f8f8;
    position: relative;
}
.header-menu-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height:65px;
    position:absolute;
    bottom:0;
    margin: 0 auto;
    overflow: hidden;
}
.header-menu--list{
    list-style: none;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:2px;
}
.header-menu--list__item{
    font-family:'Archivo-Narrow' ;
    font-weight:600;
}
.header-menu--list__item a{
    color:#000;
    padding:20px;
    transition:0.5s 0.1s;
}
.header-menu--list__item a:hover{
    background-color:#dedede;
}
.header-panel--list{
    list-style:none;
    display:flex;
    gap:20px;
}
.header-panel--list-item a{
    color:#000;
    font-weight:600;
    font-family: 'Josefin-Sans';
    padding: 1.1em 2.5em;
    color:#fff;
    font-size:1.8rem;
    transition:0.7s 0.1s;
}
.header-panel--list-item:nth-child(1) a{
    background-color: #1d943f;
}
.header-panel--list-item:nth-child(2) a{
    background-color: #274868;
}
.header-panel--list-item a:hover{
    color:#fff;
    background-color: rgb(20, 94, 231);
}

.footer-container{
    width:100%;
    /* height:390px; */
    background-color:#212121;
    display: flex;
    flex-wrap: wrap;
}
.footer--top{
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    margin-bottom:5px;
}
.column-4{
    width:33%;
    height:80%;
    padding:1.5rem;
    box-sizing: border-box;
    color:rgb(206, 206, 206);
    text-align:justify;
    font-family: 'Merriweather';
    font-size:1.3rem;
}
.footer--bottom{
    width:100%;
    height:20%;
    margin:40px;
}
.footer--bottom__container{
    /* background-color:red; */
    margin:0 auto;
    width:max(70%,50ch);
    height:100%;
    display: flex;
    flex-wrap: wrap;
}
.footer-bottom--devider{
    width: 100%;
    height:1px;
    background-color:rgb(190, 190, 190);
    box-sizing: border-box;
    margin-bottom:20px;
}
.footer-bottom--menu{
    width:60%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
}
.footer-bottom--menu-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap:60px;
}
.footer-bottom--menu-list-item{
    font-size:2rem;
    font-family:'Josefin-Sans';
    /* margin:25px; */
}
.footer-bottom--menu-list-item a{
    color:  rgb(110, 110, 110);
    transition:0.4s 0.1s;
}   
.footer-bottom--menu-list-item a:hover{
    color:rgb(253, 253, 253);
}
.footer-bottom--social-media{
    width:40% ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:30px;
}