.article-container {
    max-height: 450px;
}

.search-input {
    outline: none!important;
}

.article-image-container {
    max-width: 100%;
    max-height: 270px;
}

.article-image-container img {
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.ed-divider {
    margin: 0 auto;
    border: none;
    background-color: rgb(189, 189, 189);
    width: 90%;
    height: 0.6px;
}