*{
	margin: 0;
	padding:0;
	direction: rtl;
}
.login-container{
	margin: 40px auto;
    width: 40%;
    height: 630px;
    background-color: white;
    border-radius: 5px;
}
.switch-button{
	margin: 50px auto;
    width: 60%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 4px #767676;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
}
.mode-button{
	margin: 20px auto;
    width: 37%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50px;
	font-family:'iran-sans';
	font-weight: 900;
	background: transparent;
	z-index: 1;
	cursor: pointer;
}
#activate-mode{
	width:50%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	transition:0.5s;
    background: #ffc800;
	border-radius:50px;
}
.form-group{
	width:80%;
	margin: 20px auto;
	overflow: hidden;
}
.form-input{
	outline:none;
	border:none;
	background-color:aliceblue;
	width:100%;
	height:40px;
	font-family: 'iran-sans';
	font-size:14px;
	padding:10px 20px;
	box-sizing: border-box;
	margin:20px auto;
	border-bottom: 1px solid #eaeaea;
}
.form-input:focus{
	box-shadow: 0px 2px 3px #eeeeee;
}
.checkbox-row{
	margin:20px 0 0 0;	
	display:flex;
	align-items: center;
	font-size:14px;
}
.login-checkbox{
	margin:0 20px 0 10px;
}
.submit-button{
	font-family:'yekan';
	font-weight:600;
	font-size:16px;
	width:100%;
	height:70px;
	margin:30px auto;
	border:none;
	outline:none;
	cursor:pointer;
    box-shadow: 0px 6px 0px #000a90;
    border-radius: 10px;
    background-color: #0072de;
    color: #fff;
}
.submit-button:active{
	position: relative;
	bottom:-6px;
	box-shadow: 0px 0px 0px #454545;
}
#login-form{
	position: relative;
	transition:0.8s;
}
#register-form{
	position: relative;
    left: 633px;
    top: -327px;
	transition:0.8s;
}






















