{% extends 'base_index.html' %}
{% load static %}

{% block head_title %}
    <link rel="stylesheet" href="{% static 'css/contact_us/contact_us.css' %}">
    <title>Contact us</title>
{% endblock %}
{% block main %}
    <!-- BODY CONTAINER -->
    <div class="container">
        <div class="center-container">
            <div class="contact-us-conatiner">
                <h3>
                    Contact us
                </h3>
                <!-- CONTACT US FORM -->
                <form action="#" class="contact-us-form">
                    <!-- FORM SUBJECT FORM -->
                    <input type="text" placeholder="Enter the Subject" name="subject" id="description-subject">
                    <!-- FORM TEXT BOX MESSAGE -->
                    <textarea name="description" id="description" placeholder="your message"></textarea>
                    <!-- FORM SUBMIT BUTTON -->
                    <input type="submit" value="Submit" id="submit-button">
                </form>
                <!-- OFFLINE METHODS CONTAINER -->
                <div class="offline-contact-us-container">
                    <div class="mobile-number-container">
                        <p><strong>Contact number</strong></p>
                        <p class="mobile-number">
                            +68-522-8523
                        </p>       
                        <p class="mobile-number">
                            +68-369-1247
                        </p>       
                    </div>
                    <!-- SOCIAL MEDIA CONTACT -->
                    <div class="social-media">
                        <div class="social-media--item">
                            <a href="https://www.linkedin.com/in/ijavadddd/" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    width="30" height="30"
                                    viewBox="0 0 24 24"
                                    style=" fill:rgb(41, 41, 41);"><path d="M 21.800781 0 L 2.199219 0 C 1 0 0 1 0 2.199219 L 0 21.800781 C 0 23 1 24 2.199219 24 L 21.800781 24 C 23 24 24 23 24 21.800781 L 24 2.199219 C 24 1 23 0 21.800781 0 Z M 7 20 L 3 20 L 3 9 L 7 9 Z M 5 7.699219 C 3.800781 7.699219 3 6.898438 3 5.898438 C 3 4.800781 3.800781 4 5 4 C 6.199219 4 7 4.800781 7 5.800781 C 7 6.898438 6.199219 7.699219 5 7.699219 Z M 21 20 L 17 20 L 17 14 C 17 12.398438 15.898438 12 15.601563 12 C 15.300781 12 14 12.199219 14 14 C 14 14.199219 14 20 14 20 L 10 20 L 10 9 L 14 9 L 14 10.601563 C 14.601563 9.699219 15.601563 9 17.5 9 C 19.398438 9 21 10.5 21 14 Z"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="social-media--item">
                            <a href="https://www.instagram.com/ijavadddd/" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    width="30" height="30"
                                    viewBox="0 0 50 50"
                                    style=" fill:rgb(49, 49, 49);"><path d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}