<!doctype html>
<html lang="en">

<head>
    {% include 'panel/partials/head.html' %} {% block head %}
    <title>Admin panel</title>
    {% endblock %}
</head>

<body class="bg-light">
    <div class="container-fluid row gx-0">
        <div class="top-menu col-12 bg-white shadow-sm p-2 row gx-2">
            <div class="col-12 col-sm-7 col-md-4">
                <div class="d-flex align-items-end">
                    <a href="#">
                        <img src="{{media}}images/logo/logo.png" alt="">
                        <h2 class="d-inline-block text-dark">ijavadddd</h2>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-5 offset-md-4 col-md-4">
                <div class="row gx-2">
                    <div class="offset-2 col-5 offset-sm-0 col-sm-6  offset-lg-4 col-lg-4 d-flex align-items-center justify-content-end gap-2">
                        <span>New Post</span>
                        <i class="bi bi-envelope text-warning position-relative" style="font-size:2rem;">
                            <div class="new-post-counter text-white bg-danger d-flex align-items-center justify-content-center position-absolute"><span>0</span></div>
                        </i>
                    </div>
                    <div class="col-5 col-sm-6 col-lg-4 d-flex align-items-center justify-content-end gap-2">
                        <span>Javad</span>
                        <img src="{{media}}images/user/p1.jpg" alt="" class="profile-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 row gx-2">
            <div class="col-xs-12 col-md-3 col-lg-2 pr-1">
                <div class="sidebar bg-white rounded p-1">
                    <ul class="sidebar-items list-unstyled">
                        {% for item in sidebarItems %}
                        {% if item.Status == True %}
                        <li class="sidebar-item position-relative m-2">
                            <a href="{{item.Slug}}" class="stretched-link text-decoration-none text-dark d-flex align-items-center gap-1">
                                {% if item.Icon != None %}
                                <i class="sidebar-item--icon {{item.Icon}}"></i>
                                {% endif %}
                                &nbsp;{{item.Title}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 col-lg-10">
                <div class="main-container bg-white rounded p-4">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% include 'panel/partials/script.html' %} {% block script %}{% endblock %}
</body>

</html>