{% load static %}
    {% comment %}
        <!-- Press two tab for make correct format in view page source -->
    {% endcomment %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %}
        <!-- base_index style file -->
    {% endcomment %}
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    {% comment %}
        <!-- GOOGLE (Roboto Regular 400) FONT LINKS -->
    {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% comment %}
        <!-- GOOGLE (Fredoka One Regular 400) FONT LINKS -->
    {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    {% comment %}
        <!-- BOOTSTRAP ICON -->
    {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">