{% extends 'base_index.html' %}
{% load static %}
{% block title_section %}
            <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
            <title>Jewelry Galley</title>
{% endblock %}
{% block main_content %}
    <div class="product-slide">
        <div class="product-slide--link">
            <a href="{% url 'search' %}"></a>
        </div>
    </div>

    <div class="sex-category-container">
        <div class=sex-category-container--center>
            <div class="sex-category--box">
                <a href="#">
                    <div class="sex-category--box__background man-category">
                        <div class="sex-category--box__title-container">
                            <h2 class="sex-category--box__title">
                                Men's jewelry
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="sex-category--box">
                <a href="#">
                    <div class="sex-category--box__background woman-category">
                        <div class="sex-category--box__title-container">
                            <h2 class="sex-category--box__title">
                                Women's jewelry
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="all-product-container">
                <div class="all-products-button">
                    <a href="#" class="all-products-button--link">See all products  <i class="bi bi-bag-fill"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="daily-offer-container">
        <div class="daily-offer-container--title-container">
            <div class="daily-offer-container--title--center-container">
                <hr class="title-line" />
                <h2 class="daily-offer-title">Daily offer</h2>
            </div>
        </div>
        <div class="daily-offer--slider-container">
            <div class="daily-offer--slider-picture">
                <img src="{{media}}images/products/earring1.jpg" alt="">
            </div>
            
            <div class="daily-offer--slider-details">
                <div class="product-title--container">
                    <h2>Men's earrings</h2>
                    <div class="border-botttom"></div>
                </div>
                <div class="product-price--container">
                    <span>5</span>$
                </div>
                <div class="product-code--container">
                    <p>Product ID : <span>2345</span>$</p>
                </div>
                <div class="product-category--container">
                    <span>Gentlemen, earrings</span>
                </div>
                <div>
                    <a href="#" class="product-button">More details</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}