.container{
    padding:50px;
    box-sizing: border-box;
    width:100%;
    /* min-height:500px; */
    /* background-color:yellow; */
}
.middel-center{
    width:100%;
    max-width:90%;
    /* min-height:500px; */
    background-color:#fff;
    margin:0 auto;
}
.about-me-container{
    width:80%;
    /* height:220px; */
    /* background-color:blue; */
    margin:0 auto;
    display:flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items:center;
    gap:10px;
}
.profile-photo{
    width:220px;
    height:220px;
    border-radius:50%;
}
.right-description-container{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    gap:25px;
}
.description p{
    font-size:2rem;
    font-weight: 800;
    margin:20px;
}
.social-media-container{
    display:flex;
    flex-wrap: wrap;
    gap:25px;
}
.description-about-me{
    font-size:2rem;
    font-weight: 400;
    width:70%;
    margin:30px auto;
    line-height:3.8rem;
}