{% extends "base-index.html" %}
{% load static %}

{% block head-title %}
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
    <title>Relief workers</title>
{% endblock %}

{% block main %}
    <div class="home-slide">
        <div class="slider--title">
            <p>
                Relief vehicle : we keep you on the road
            </p>
        </div>
        <div class="slider--description">
            <p>
                Going out to meet customers or delivering on time are crucial for your employees. A relief vehicle is of the essence, which is why, no matter what happens, we will provide a replacement car or van to keep your business on the road.
            </p>
        </div>
    </div>
    <div class="car-rescuer--center-container">
    <div class="need-car-rescuer">
        <div class="cover-car-rescuer">
            <!-- <img src="{{media}}images/car_rescuer.jpg" alt="car_rescuer"> -->
        </div>
        <div class="car-rescuer">
                <h2 class="car-rescuer--title">Need a car rescuer?</h2>
                <p class="car-rescuer--description">
                    Need help? , we are here<br>
                    We are at your service anytime, anywhere , Just login to your account or register to access the facilities
                </p>
                <div class="access-service">
                    <ul class="access-service--list">
                        <li class="access-service--list-item">
                            <a href="#" blank="_blank">Login</a>
                        </li>
                        <li class="access-service--list-item">
                            <a href="#" blank="_blank">Register</a>
                        </li>
                    </ul>
                </div>
                <div class="access-service--offline">
                    <p class="access-service--offline__title">
                        Do you need offline access?!
                    </p>
                    <div class="numbers-box">
                        <p class="access-service--offline__call">
                            +68-954-5211
                        </p>
                        <p class="access-service--offline__call">
                            +68-522-1245
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="work-steps" id="work-step">
        <button class="tablink" onclick="openstep('first-step', this)" id="defaultOpen">First step</button>
        <button class="tablink" onclick="openstep('second-step', this)">Second step</button>
        <button class="tablink" onclick="openstep('third-step', this)">Third step</button>
        <div id="first-step" class="tabcontent">
            <div class="step-container">
                <h4 class="step-title">Call us</h4>
                <p class="step-description">We are watching you anytime, anywhere.</p>
                <div class="contact-us">
                    <div class="online-manner">
                        <p>
                            Online method??
                        </p>
                    <div class="access-service">
                        <ul class="access-service--list">
                            <li class="access-service--list-item">
                                <a href="#" blank="_blank">Login</a>
                            </li>
                            <li class="access-service--list-item">
                                <a href="#" blank="_blank">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="offline-manner">
                    <p>
                        offline method??
                    </p>
                    <div class="numbers-box">
                        <p class="access-service--offline__call--black">
                            +68-954-5211
                        </p>
                        <p class="access-service--offline__call--black">
                            +68-522-1245
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        <div id="second-step" class="tabcontent">
            <div class="step-container second-step-container">
                <div class="second-step-descrption">
                    <h4 class="step-title">Find the nearest rescuer </h4>
                    <p class="step-description">After submitting the request, we will quickly find the nearest trainer and send it to you.</p>
                </div>
                <div class="second-step-picture">
                    <img src="{{media}}/images/second-step-img.jpg" alt="Car_rscuer">
                </div>
                </div>
            </div>
        </div>
        
        <div id="third-step" class="tabcontent">
            <div class="third-step-container">
                <div class="third-step-description">
                    <h4  class="step-title">After finding a car rescuer </h4>
                    <p class="step-description"style="margin-top:5%;">After finding the car rescuer, the details of your car will be sent to you along with your location so that the rescuer can find your location as quickly and easily as possible and the rescue can be done as soon as possible.
                        You can also use our rental car service to get your work done and do not waste time with your enthusiast, your time is very valuable to us, that's why we have added the car service to provide you with the best service..</p>
                </div>
                <div class="step-picture">
                    <img src="{{media}}/images/work-step3.jpg" alt="Car_rscuer">
                </div>
            </div>
        </div>
            

    </div>
{% endblock %}
{% block script %}
<script>
    function openstep(stepName, elmnt) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
}

  // Remove the background color of all tablinks/buttons
tablinks = document.getElementsByClassName("tablink");
for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
}

  // Show the specific tab content
document.getElementById(stepName).style.display = "block";

  // Add the specific color to the button used to open the tab content
elmnt.style.backgroundColor = '#50a036';
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
{% endblock %}
