{% extends "base-index.html" %}
{% load static %}

{% block head-title %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Relief workers</title>
{% endblock %}

{% block main %}
    <div class="home-slide">
        <div class="slider--title">
            <p>
                Relief vehicle : we keep you on the road
            </p>
        </div>
        <div class="slider--description">
            <p>
                Going out to meet customers or delivering on time are crucial for your employees. A relief vehicle is of the essence, which is why, no matter what happens, we will provide a replacement car or van to keep your business on the road.
            </p>
        </div>
    </div>
    <div class="wok-steps">

    </div>
{% endblock %}

