{% extends "base-index.html" %}
{% load static %}

{% block head-title %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Relief workers</title>
{% endblock %}

{% block main %}
    <div class="home-slide">
        <div class="slider--title">
            <p>
                Relief vehicle : we keep you on the road
            </p>
        </div>
        <div class="slider--description">
            <p>
                Going out to meet customers or delivering on time are crucial for your employees. A relief vehicle is of the essence, which is why, no matter what happens, we will provide a replacement car or van to keep your business on the road.
            </p>
        </div>
    </div>
    <div class="car-rescuer--center-container">
    <div class="need-car-rescuer">
        <div class="cover-car-rescuer">
            <!-- <img src="{{media}}images/car_rescuer.jpg" alt="car_rescuer"> -->
        </div>
        <div class="car-rescuer">
                <h2 class="car-rescuer--title">Need a car rescuer?</h2>
                <p class="car-rescuer--description">
                    Need help? , we are here<br>
                    We are at your service anytime, anywhere , Just login to your account or register to access the facilities
                </p>
                <div class="access-service">
                    <ul class="access-service--list">
                        <li class="access-service--list-item">
                            <a href="#" blank="_blank">Login</a>
                        </li>
                        <li class="access-service--list-item">
                            <a href="#" blank="_blank">Register</a>
                        </li>
                    </ul>
                </div>
                <div class="access-service--offline">
                    <p class="access-service--offline__title">
                        Do you need offline access?!
                    </p>
                    <div class="numbers-box">
                        <p class="access-service--offline__call">
                            +68-954-5211
                        </p>
                        <p class="access-service--offline__call">
                            +68-522-1245
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

