
        <footer class="footer-container">
            <div class="footer-center-container">
                <div class="footer-section column-4">
                    <div class="footer-section--title-container">
                        <h3 class="footer-section--title">
                            Customer guide
                        </h3>
                        <div class="border-botttom"></div>
                    </div>
                    <div class="footer-section--question-list">
                        <ul class="footer-menu-list question-list">
                            <li class="footer-menu-list--item question-item">
                                <a href="#">Frequently Asked Questions</a>
                            </li>
                            <li class="footer-menu-list--item question-item">
                                <a href="#">Product replacement and return procedure</a>
                            </li>
                            <li class="footer-menu-list--item question-item">
                                <a href="#">Delivery and payment terms</a>
                            </li>
                            <li class="footer-menu-list--item question-item">
                                <a href="#">Payment methods</a>
                            </li>
                            <li class="footer-menu-list--item footer-menu-list--last-item question-item">
                                <a href="#">Ring sizing guide</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-section column-4">
                    <div class="footer-section--title-container">
                        <h3 class="footer-section--title">
                            Jewelry gallery
                        </h3>
                        <div class="border-botttom"></div>
                    </div>
                    <div class="footer-section--contact-menu">
                        <ul class="footer-menu-list">
                            <li class="footer-menu-list--item">
                                <a href="#">Contact us</a>
                            </li>
                            <li class="footer-menu-list--item footer-menu-list--last-item">
                                <a href="#">About us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-section column-4">
                    <div class="footer-section--title-container">
                        <h3 class="footer-section--title">
                            Licences
                        </h3>
                        <div class="border-botttom"></div>
                        <div class="licences-container">
                            <img src="{{media}}images/licence/samandehi-logo.png" alt="samandehi">
                            <img src="{{media}}images/licence/enamad-logo.png" alt="enamad">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-section--bottom">
                <p>© All rights reserved for ijavadddd</p>
                <p>Design and implementation: <a href="https://github.com/ijavadddd" target="_blank">ijavadddd</a></p>
            </div>
        </footer>