.content-container{
    width:95%;
    height:500px;
    margin: 0 auto;
    padding:50px 25px;
    box-sizing: border-box;
    /* background-color:red; */
}
.content-container h1{
    font-size:3rem;
    font-weight:900;
}
.discount-container{
    margin:10px 35px;
    display:flex;
    flex-direction:column;
    gap:20px;
}
#discount-code{
    outline:none;
    border:none;
    border-radius:50px;
    width:max(60%,20ch);
    padding:12px 30px;
    box-sizing:border-box;
    /* margin:10px; */
}
#discount-button{
    outline:none;
    border: none;
    border-radius:3px;
    padding:20px 40px;
    background-color:rgb(30, 105, 190);
    color:#fff;
    font-size: 1.7rem;
    font-weight: 600;
    width:18ch;
    flex:0 0 60px;
    letter-spacing:1.2px;
}