.panel-container{
    width:100%;
    background-color:rgb(241, 241, 241);
    display:flex;
    position: relative;
}
.sidebar-menu-container{
    width:100%;
    max-width: min(50%,22ch);
    overflow:hidden;
}
.sidebar-menu-container--btn{
    background-color: rgb(241, 241, 241);
}
.sidebar-menu-container--btn i{
    color:#000;
    font-size:6rem;
    position: relative;
    inset:auto auto auto 4px;
}
#vertical-menu-container{
    background-color:#3a3a3a;
    width:100%;
    height:100%;
}
.show-menu{
    display: block !important;;
}
.sidebar-menu-container--btn{
    display: none;
}
.vertical-menu{
    display:flex;
    justify-content:center;
    align-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap:2px;
    background-color:#000;
}
.vertical-menu--item{
    position: relative;
    flex:1 1 100%;
    box-sizing: border-box;
    width: 100%;
    height: 63px;
}
.vertical-menu--item > a{
    position: absolute;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    padding:1rem 2rem;
    box-sizing: border-box;
    font-family:'Archivo-Narrow';
    font-size: 2rem;
    width:100%;
    min-height: 100%;
    background-color: #3a3a3a;
    text-align: left;
    transition:0.5s;
}
.vertical-menu li:nth-child(3) a{
    background-color: #49662e;
}
.vertical-menu--item > a:hover{
    background-color: rgb(15 96 144)!important;
}
.vertical-menu li:nth-child(2) a{
    display: flex;
    align-items: center;
    gap:5px;
}
.credit-label{
    transition:0.5s;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    background-color:red;
    font-family:'Josefin-Sans';
    font-size: 1.8rem;
    padding:1.1rem 2rem;
    box-sizing: border-box;
    border-radius: 20px;
}
.credit-label:hover{
    background-color:rgb(255, 174, 0);
}
.menu-content-container{
    width:80%;
    margin:0 auto;
}
.warning-message{
    margin:10px auto;
    width:fit-content;
    background-color:#ffcc00;
    padding:12px 20px;
    border-radius:10px;
    font-family:'Josefin-Sans';
    font-weight: 900;
    font-size: 1.6rem;
}
.warning-message a{
    color:#1b5896;
}
@media screen and (max-width:720px){
    .sidebar-menu-container{
        display:none;
    }
    .menu-content-container{
        margin: 0 auto;
    }
    .menu-content-container {
        width: 100%;
    }
    #vertical-menu-container{
        display:none;
        position: absolute;
        z-index: 50;
        inset: 70px auto auto 26px;
        height: max-content;
    }
    .sidebar-menu-container--btn{
        display: block;
    }
    .menu-content-container{
        width:100%;
    }
}