.warning-message{
    margin:10px auto;
    width:fit-content;
    background-color:#ffcc00;
    padding:12px 20px;
    border-radius:10px;
    font-family:'Josefin-Sans';
    font-weight: 900;
    font-size: 1.6rem;
}
.warning-message a{
    color:#1b5896;
}
.profile-container{
    width:90%;
    margin:20px auto;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    flex-wrap: wrap;
}
.profile--image{
    position: relative;
    overflow:hidden;
    width:220px;
}
.add-profile-photo{
    position: absolute;
    width: 50px;
    right: 12px;
    bottom: 5px;
    border-radius: 50%;
}
.add-profile-photo img{
    box-shadow: 0 5px 4px #bababa;
}
.profile--image img{
    width:100%;
    border-radius: 50%;
}
.profile--information{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    align-content: space-around;
    justify-content: flex-start;
    width: 70%;
}
.personal-info{
    flex:1 1 100%;
    display:flex;
    gap:30px;
    flex-wrap: wrap;
}
.vehicle-info{
    flex:1 1 100%;
    display:flex;
    flex-wrap: wrap;
    gap:30px;
}
.profile-info-lable > p{
    font-weight: 600;
    font-size:1.8rem;

}
.profile-info-lable > p > span{
    font-weight: lighter;
    color:#6e6e6e;
}
.profile-button{
    transition:0.5s;
    align-self:end;
    background-color:rgb(30, 105, 190);
    font-family: 'Archivo-Narrow';
    font-weight:400;
    color:rgb(255, 255, 255);
    border-radius:5px;  
    font-size: 1.9rem;
    padding:10px 25px;
}
.profile-button:hover{
    background-color:rgb(30, 190, 83);
}
.profile-container--divider{
    border:none;
    width:95%;
    height:0.6px;
    background-color:rgb(214, 214, 214);
}
.profile-options{
    padding:20px 0;
    box-sizing: border-box;
    width: 100%;
    /* min-height: 500px; */
    /* background-color:yellow; */
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: flex-start;
    align-items: center;
    gap:30px;
    padding-inline: 20px;
    margin: 0 0 70px 0;
}
.profile-options--item{
    border-radius:10px;
    flex:1 1 max(35%,35ch);
    height: fit-content;
    overflow: hidden;
    background-color:rgb(255, 255, 255);
    padding:15px 20px;
    box-sizing: border-box;
}
.profile-options--item__title{
    font-size:2rem;
    font-family:'Josefin-Sans';
    color:rgb(0, 153, 255);
}
.profile-options--item__description{
    padding:20px 25px;
    box-sizing: border-box;
    font-size:1.7rem;
}
.profile-options--item__description a{
    color: #26be00;
    font-size:1.8rem;
    font-weight: 600;
}
.profile-options--item__description span{
    color: #c49a00;
}
@media screen and (max-width:720px){
    .personal-info {
        justify-content: center;
    }
    .vehicle-info {
        justify-content: center;
    }
    .profile--information {
        align-content: center;
        justify-content: center;
    }
    .profile-container {
        width: 100%;
    }
}




















