.home-slide{
    width:100%;
    height:80vh;
    background-image: url(../../../media/images/home-slide.jpg);
    background-color: rgb(138 138 138 / 85%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.slider--title{
    text-align: center;
    margin:0 auto;
    font-family:'Archivo-Narrow';
    font-weight:900;
    color:#fff;
    font-size:2.5em;
}
.slider--description{
    width:100%;
    text-align: center;
    margin:0 auto;
    font-family:'Archivo-Narrow';
    font-weight:400;
    color:rgb(186 186 186);
    margin:20px auto;
}
.slider--description p{
    width:max(50%,40ch);
    margin: 0 auto;
    background-color: #353535ad;
    padding: 1.3rem;
}
.car-rescuer--center-container{
    background-color:rgb(248, 248, 248);
    width:100%;
    padding:20px;
    box-sizing: border-box;
}
.need-car-rescuer{
    width:90%;
    margin:0 auto;
    min-height:200px;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    /* align-items:center; */
}
.cover-car-rescuer{
    /* width:180px;   */
    overflow:hidden;
    padding:2rem;
    box-sizing: border-box;
    flex: 0 1 max(35%,240px);
    margin:0 auto;
    /* border-radius:100%; */
    min-height:415px;
    background-image: url(../../../media/images/car_rescuer.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
/* .cover-car-rescuer img{
    max-width:100%;
    height:auto;
    /* border-radius:100%; */
/* }  */
.car-rescuer--title{
    font-size:5.5rem;
    font-family: 'Archivo-Narrow';
}
.car-rescuer{
    width:max(50ch,70%);
    padding:50px;
    box-sizing: border-box;
    /* height:50px; */
    flex:1 1 30%;

}
.car-rescuer--description{
    color:rgb(82, 82, 82);
    font-family: 'Merriweather';
    font-size:1.6rem;
    line-height:2.5rem;
}
.access-service{
    /* margin:3rem 0 0 5rem; */
    min-height: 50px;
}
.access-service--list{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    gap:40px;
    margin: 25px;
}
.access-service--list-item{
    font-family: 'Archivo-Narrow';
    flex:0 1 20ch;
}
.access-service--list-item a{
    font-family: 'Archivo-Narrow';
    font-size: 2rem;
    padding: 15px 55px;
    box-sizing: border-box;
    color:#fff;
    background-color:rgb(19, 86, 230);
    transition:0.5s 0.1s;
}
.access-service--list-item a:hover{
    background-color:rgb(23, 165, 71);
}
.access-service--offline__title{
    font-size:3.5rem;
    color:rgb(185, 0, 87);
    font-weight: 900;
    font-family:'Archivo-Narrow';
}
.numbers-box{
    margin: 10px 0 0  20px;
    display:flex;
    flex-direction: column;
    gap:10px;
    font-family: 'Merriweather';
    font-weight: 800;
}
/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33333333%;
    margin: 0 auto;
    transition:0.8s;
}
#first-step , #second-step ,#third-step{
    min-height: 470px;
}
  /* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
  /* text-align: center; */
}
#first-step{
    background-image:url(../../../media/images/first-step-back1.jpg);
    background-blend-mode: multiply;
    background-color: #ddddddd9;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
  /* Style each tab content individually */
.step-title{
    font-size:4rem;
    font-family:'Merriweather';
    font-weight: 800;
    color:#000;
}
.step-description{
    font-size:2rem;
    font-family:'Archivo-Narrow';
    font-weight: 400;
    color:rgb(51, 51, 51);
    /* background-color:rgba(196, 196, 196, 0.384); */
}
.step-container{
    margin-top: 25px;
}
.contact-us{
    margin-left: 2%;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:85px;
    padding:35px;
    box-sizing: border-box;
    width: 80%;
    margin: 160px auto;
    margin-bottom: 0;
    background-color: #0000002e;
}   
.online-manner > p{
    font-size:4rem;
    font-family:'Merriweather';
    font-weight: 800;
    color:rgb(0 255 113);
    margin-bottom:50px;
}
.offline-manner > p{
    font-size:4rem;
    font-family:'Merriweather';
    font-weight: 800;
    color:rgb(194 194 194);
    margin-bottom:40px;

}
.access-service--offline__call--black{
    color:rgb(255, 255, 255);
    font-size:1.6rem;
}
#second-step {
    background-color:rgb(240, 240, 240);
    font-family:'Merriweather';
    font-weight: 800;
    color:#000;
}
#second-step h4{
    font-size:4rem;
}
#second-step >p{
    font-size:2rem;
    font-family:'Archivo-Narrow';
    font-weight: 400;
    color:rgb(98 98 98)
}
.second-step-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}
.third-step-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    margin-top: 25px;
}
.second-step-picture{
    flex:1 1 max(22%,22ch);
}
.second-step-picture img{
    width: 100%;
}
.second-step-descrption{
    flex:1 1 40%;
    padding: 20px;
    box-sizing: border-box;
}
.third-step-description{
    flex:1 1 40%;
    padding: 20px;
    box-sizing: border-box;
}
.third-step-description > .step-description{
    text-align:justify;
}
.step-picture{
    /* width:max(60%,50ch); */
    flex:1 1 max(50%,56ch);
}
.step-picture img{
    width:100%;
}