.product-slide{
    width:100%;
    height: 36vw;
    background-image: url(../../../media/images/home-slider.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.product-slide--link a{
    position: absolute;
    inset:0 0 0 0;
    width:100%;
    height:100%;
}
.sex-category-container{
    width:100%;
}
.sex-category-container--center{
    width:100%;
    padding:20px;
}
.sex-category-container--center{
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}
.sex-category--box{
    min-width: min(39ch,95%);
    width: 30%;
    max-width: 400px;
    min-height: min(82vmin,56ch);
    height: 395px;
    max-height: 600px;
} 
.sex-category--box__background{
    transition-property:transform ,background-color ;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:#000;
}
.sex-category--box__background:hover{
    background-color: rgba(117, 24, 194, 0.555);
    background-blend-mode: multiply;
    transform: scale(1.025);
    
}
.man-category{
    background-image: url(../../../media/images/Men-jewelry.jpg)
}
.woman-category{
    background-image: url(../../../media/images/Women-jewelry.jpg)
}
.sex-category--box__title-container{
    position: absolute;
    inset: auto auto 0 0;
    background-color: #d2d2d2a6;
    width: 100%;
    height: 45px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-self: center;
}
.sex-category--box__title{
    width: 100%;
}
.all-product-container{
    margin:60px 0 80px 0;
    width: 100%;
}
.all-products-button{
    width: fit-content;
    margin: 0 auto;
}
.all-products-button--link{
    transition: background-color 0.3s;
    background-color:#a32727;
    border-radius: 2px;
    color:#fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding:1.2em 3.6em;
    display: flex;
    align-items:flex-start;
    gap:5px;
}
.all-products-button--link:hover{
    background-color:#801717;
    
}
.daily-offer-container{
    width:100%;
    min-height:300px;
}
.daily-offer-container--title-container{
    width:100%;
    min-height:120px;
}
.daily-offer-container--title--center-container , .daily-offer--slider-container{
    width:100%;
    min-height:120px;
    max-width:min(1100px,90%);
    margin:0 auto;
    display:flex;
    align-items:center;
    position: relative;
}
.title-line{
    width:100%;
    height: 1.13px;
    border-radius: 25px;
    background-color:rgb(201, 201, 201);
    border:none;
}
.daily-offer-title{
    font-size: 3.6rem;
    font-weight: 900;
    width:fit-content;
    height:fit-content;
    padding:0.3rem;
    background-color:#fff;
    position:absolute;
    margin:auto auto;
    inset:0 0 0 0 ;
}
.daily-offer--slider-container{
    background-color: rgb(255, 255, 255);
    min-height:407px;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-shadow: 0 2px 6px 3px #e6e6e6;
}
.daily-offer--slider-picture{
    width: 100%;
    max-width: max(40%,30ch);
    max-height: 100%;
    margin: 0 auto;
}
.daily-offer--slider-picture img{
    width: 100%;
}
.daily-offer--slider-details{
    padding: 20px 5px 20px 45px;
    min-height: inherit;
    flex: 1 1 min(100%,50ch);
}
.product-title--container{
    font-size:2.2rem;
    color:#000;
    margin: 0 2px 25px;
}
.product-price--container{
    color:#000;
    font-size:1.8rem;
    font-weight:800;
    margin-bottom: 10px;
}
.product-code--container, .product-category--container{
    border-top: 1px dotted #ddd;   
    color: #5c5c5c;
    font-size: 0.99rem;
    padding:5px 0;
}
.product-button{
    transition:background-color 0.5s; 
    font-size:1.6rem;
    color:#fff;
    background-color:#3498DB;
    padding:0.5em 1.3em;
    letter-spacing:1.2px;
    display: inline-block;
    margin: 25px 0 0;
    border-radius: 2px;
}
.product-button:hover{
    background-color:#2773a5;

}